<div>
  <h1>{{title}}</h1>
  <form style="width: 500px; height: 500px;" (submit)="submit()">
    <div>
      <label>Input number</label>
      <input type="number" min="0" max="100" style="width: 100%;" [(ngModel)]="input.number">
    </div>
    <div>
      <label>Input string</label>
      <input minlength="0" maxlength="10" style="width: 100%;" [(ngModel)]="input.string">
    </div>
    <div style="margin-top: 10px;">
      <button type="submit">submit</button>
    </div>
  </form>
</div>